
.navbar-inner {
	background:transparent;
	border-radius:0;
}
.bgimg{
	background-image: url('images/back.png');
	
}

.page-container{
	padding:50px;
	background-color: #E3E3E3;
}
.kk{
	background-color:white;
	margin:40px;
}
.pstyling{
	font-family:Bellefair;
}
.kstyling{
	font-family:Abril Fatface;
}
.fstyle{
	background-color:#F29200;
}

#search{
	color:black;
}

a{
	color:white;
}